FAB_CLIENT_ID=
FAB_CLIENT_SECRET=
FAB_TENANT_ID=
FAB_USERNAME=
FAB_PASSWORD=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=
AZURE_KEY_VAULT_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
GH_TOKEN=
pypi_token=